body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  margin: 0;
}

#story-container {
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

#image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#story-image {
  max-width: 95%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#text-container {
  width: 100%;
}

#message {
  font-size: 2rem;
}

.small-italic {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 10px;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  height: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
}

footer a {
  text-decoration: none;
  color: #007bff;
}

footer a:hover {
  text-decoration: underline;
}

.ti-cursor {
  font-size: 2em;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #story-container {
    padding: 0 10px;
  }

  #message {
    font-size: 1.5rem;
  }

  #story-image {
    max-width: 95%;
    min-width: 70%;
  }
}
