body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa; /* Bootstrap's light gray background */
  margin: 0;
}

#story-container {
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

#image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Add margin to separate image and text */
}

#story-image {
  max-width: 95%; /* Ensures image doesn't exceed this width */
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Start as invisible */
}

#text-container {
  width: 100%; /* Ensure it takes the full width of the container */
}

#message {
  font-size: 2rem; /* Increased font size */
}

.small-italic {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 10px;
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Start as invisible */
  height: 1em; /* Fixed height to ensure no shifting occurs */
}

.ti-cursor {
  font-size: 2em;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #story-container {
    padding: 0 10px; /* Adjusted padding for smaller screens */
  }

  #message {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

  #story-image {
    max-width: 95%; /* Increase max-width for mobile */
    min-width: 70%; /* Ensure the image doesn't get too small on mobile */
  }
}
